.gallerize {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Droid Sans', 'Arial', sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.gallerize .shadow {
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.gallerize .picture {
  position: absolute;
  /*z-index: @zindex + 20;*/
  visibility: hidden;
  /* 
        .opacity(0);
        .transition(~"opacity 0.2s ease-in-out");
        */
}
.gallerize .picture img {
  /* Prevents whitespace under image */
  display: block;
}
.gallerize .picture .info {
  bottom: 0;
  left: 0;
}
.gallerize .picture .info .title {
  font-size: 16px;
  font-weight: bold;
}
.gallerize .picture-current {
  /* .opacity(1.0); */
  /*z-index: @zindex + 40;*/
  visibility: visible;
}
.gallerize .spinner {
  display: none;
  background: transparent url(../img/spinner.gif) no-repeat center center;
  width: 100%;
  height: 100%;
}
.gallerize .btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  vertical-align: middle;
}
.gallerize .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1060;
  padding: 10px 0;
}
.gallerize .btn-close:before {
  font-size: 30px;
  content: "×";
}
.gallerize .arrow-area {
  position: absolute;
  top: 10%;
  z-index: 1040;
  height: 80%;
  width: 20%;
  cursor: pointer;
}
.gallerize .arrow-area-left {
  left: 0;
}
.gallerize .arrow-area-right {
  right: 0;
}
.gallerize .arrow {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  width: 120px;
  height: 150px;
  padding: 15px;
  font-size: 200px;
  line-height: 140px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.gallerize .arrow-area:hover .arrow {
  display: block;
}
.gallerize .arrow-left {
  left: 10px;
}
.gallerize .arrow-right {
  right: 10px;
}
.gallerize .arrow-right:before {
  content: "›";
}
.gallerize .arrow-left:before {
  content: "‹";
}
.gallerize .box {
  position: absolute;
  z-index: 1100;
  padding: 10px;
}
.gallerize .counter {
  font-weight: bold;
  float: left;
}
.gallerize .thumbs-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1120;
}
.gallerize .thumbs {
  width: 100%;
  height: 100px;
  position: relative;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.gallerize .thumbs .scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 10000px;
}
.gallerize .thumbs .thumb {
  position: relative;
  height: 100px;
  float: left;
  cursor: pointer;
  background: #000;
}
.gallerize .thumbs .thumb img {
  height: 100px;
  width: auto;
  margin: 0 auto;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(40));
  filter: alpha(opacity = (40));
  /*.transition(~"all 0.2s ease-in-out");*/
}
.gallerize .thumbs .selected img {
  position: relative;
  z-index: 10000;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  /*height: 110px;*/
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.gallerize .thumbs-wrapper:hover .thumbs {
  display: block;
}
